:root {
	--main-bg-color: #ddbea9;
	--second-color: #d1b19ebf;
	--icon-color: #a5a58d;
	--shadow:rgba(0, 0, 0, 0.25);
}


.portfolio-box-1 .mask,
#filter li a span,
.color-over-hero,
.stack__deco,
#owl-home.owl-theme .owl-controls .owl-page.active span,
#owl-home.owl-theme .owl-controls .owl-page span:hover,
.background-color-blue,
.home-video,
.project-next-prev:hover .mask,
.partners,
#owl-sep-1.owl-theme .owl-controls .owl-page span:hover,
#owl-sep-1.owl-theme .owl-controls .owl-page.active span,
#owl-blog-slider.owl-theme .owl-controls .owl-page.active span,
#owl-blog-slider.owl-theme .owl-controls .owl-page span:hover,
.sidebar-search button,
.sidebar-list-two li a:hover,
#ajax-form button:hover,
#cd-zoom-in, #cd-zoom-out{
	background-color: var(--main-bg-color);
}
.cbp-af-header.cbp-af-header-shrink .menu ul li ul li a.curent-multi-page,
.cbp-af-header.cbp-af-header-shrink .menu ul li ul li a.curent-multi-page:hover,
.menu ul li ul li a.curent-multi-page,
.menu ul li ul li a.curent-multi-page:hover,
.project-des a:hover,
.page-title h3,
.page-title .text-up,
.page-title h5,
.about-wrap .about-icon,
.quote h4,
.num-of-com span,
.comm-link,
.sidebar-list-one li a:hover,
.comment a{
	color:var(--icon-color);
}
.menu ul li:hover a.shadow-hover{
	text-shadow: 5px 6px 0 rgb(167 168 175 / 76%);
}
.menu ul li a.curent-shadow{
	text-shadow: 5px 6px 0 rgb(167 168 175 / 76%);
}
.content__link,
.home-text-freelance h2 span,
.subscribe button:hover{
	color:rgb(167 168 175 / 76%);
}
.decoshape.arrow-top,
.content__link:hover .decoshape {
	fill: rgb(167 168 175 / 76%);
}
.content .content__mask{
	background-color: rgb(167 168 175 / 76%);
}
.morph {
	fill: rgb(167 168 175 / 76%);
}
.list-social-footer li:hover{
	background-color: rgb(167 168 175 / 76%);
}
.portfolio-box-1 .text-on-hover,
.case-study-wrapper li a span,
.home-text-freelance .link,
.tipper .tipper-content,
.team-wrap h6 {
	text-shadow: 5px 4px 0 var(--shadow);
}
#filter li a:hover,
#filter li .current,
.quote p {
	text-shadow: -7px 5px 0 rgb(167 168 175 / 76%);
}
.home-text-freelance.shadow-text h2{
	text-shadow: -9px 7px 0 rgb(167 168 175 / 76%);
}
.home-video {	
	outline: 1px double rgb(167 168 175 / 76%);
}
figure.vimeo a:before, figure.youtube a:before {
	border-left: 10px solid rgb(167 168 175 / 76%);
}
figure.vimeo:hover a:after, figure.youtube:hover a:after {
	background:rgb(167 168 175 / 76%);
}
.tooltip__shape,
.tooltip--sadoc .tooltip__shape path {
	fill: rgb(167 168 175 / 76%);
}
.tooltip--sadoc .tooltip__shape path {
	stroke: rgb(167 168 175 / 76%);
}
.arrow-icons:hover,
.blog-pagination li p:hover,
.subscribe button:hover{
	text-shadow: -4px 3px 0 rgb(167 168 175 / 76%);
}
.post-wrapper blockquote{ 
	border-left:3px solid rgb(167 168 175 / 76%);
}
.sidebar-search input:active,
.sidebar-search input:focus {	
	border-bottom:1px solid rgb(167 168 175 / 76%);
}
.subscribe input:active,
.subscribe input:focus {	
	border-bottom:1px solid rgb(167 168 175 / 76%);
}
.sidebar-list-one li:before{ 
	border:1px solid rgb(167 168 175 / 76%);
}
.sidebar-list-two li a:hover{
	border:2px solid rgb(167 168 175 / 76%);
}
#ajax-form textarea:focus,
#ajax-form input:focus,
#ajax-form textarea:active,
#ajax-form input:active {	
	border-bottom:1px solid rgb(167 168 175 / 76%);
}




















